.utils.container-lg {
  max-width: 1177px;
  margin-right: auto;
  margin-left: auto;
}

.utils.container-logo {
  width: 500px;
}

.utils.container-nav {
  height: 81px;
  display: flex;
  align-items: center;
}

.utils.container-page-title {
  min-height: 286px;
  background: #f6f5ff;
}
.utils.container-page-title h2 {
  font-family: "Josefin Sans";
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #101750;
}

.utils.container-content {
  min-height: 670px;
}
.utils.container-content h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: #151875;
}
.utils.container-content p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: #8a8fb9;
}

.utils.container-nav ul li a {
  text-decoration: none;
  transition: all 0.1s ease-in-out;
}
.utils.container-nav ul li :hover {
  color: #fb2e86;
  transition: all 0.1s ease-in-out;
}

.utils.top-menu {
  background: #7e33e0;
  padding: 14px 0;
}

/* display flex */
.utils.flex {
  display: flex;
}

.utils.align-center {
  align-items: center;
}

.utils.justify-between {
  justify-content: space-between;
}

.utils.column {
  flex-direction: column;
}

.utils.space-around {
  justify-content: space-around;
}

/* Color */
.utils.text-white {
  color: #fff;
}

/* margin */
.mr-50 {
  margin-right: 3.125rem; /* 50px */
}
.mr-53 {
  margin-right: 2.188rem; /* 53px */
}
.mr-30 {
  margin-right: 1.875rem; /* 30px */
}
.mr-3 {
  margin-right: 1rem;
}
.mx-1 {
  margin-left: 1rem; /* 16px */
  margin-right: 1rem; /* 16px */
}

/* Text */
.utils.text-1 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #0d0e43;
}
.utils.text-logo {
  font-family: "Josefin Sans";
  font-weight: 700;
  font-size: 34px;
  line-height: 40px;
  color: #0d0e43;
}

/* Background */
.bg-red {
  background: red;
}

/* width */
.w-100 {
  width: 100%;
}

/* breadcrumb */
.breadcrumb {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
.active-breadcrumb {
  color: #fb2e86;
}

/* Button */
.utils.btn-pink {
  background: #fb2e86;
  color: #fff;
  border-radius: 3px;
  padding: 9px 0;
  display: flex;
  justify-content: center;
  max-width: 150px;
  transition: all 0.1s ease-in-out;
}
.utils.btn-pink:hover {
  background: #a20348;
  color: #cbcbcb;
  transition: all 0.1s ease-in-out;
}
