.utils.container-lg {
  max-width: 1177px;
  margin-right: auto;
  margin-left: auto;
}

.utils.top-menu {
  background: #7e33e0;
  padding: 14px 0;
}

/* display flex */
.utils.flex {
  display: flex;
}

.utils.align-center {
  align-items: center;
}

.utils.justify-between {
  justify-content: space-between;
}

/* Color */
.utils.text-white {
  color: #fff;
}

/* margin */
.mr-50 {
  margin-right: 3.125rem; /* 50px */
}
.mx-1 {
  margin-left: 1rem; /* 16px */
  margin-right: 1rem; /* 16px */
}
