.utils.container-lg {
  max-width: 1177px;
  margin-right: auto;
  margin-left: auto;
}

.utils.container-logo {
  width: 500px;
}

.utils.container-nav {
  height: 81px;
  display: flex;
  align-items: center;
}

.utils.container-nav ul li a {
  text-decoration: none;
}

.utils.top-menu {
  background: #7e33e0;
  padding: 14px 0;
}

/* display flex */
.utils.flex {
  display: flex;
}

.utils.align-center {
  align-items: center;
}

.utils.justify-between {
  justify-content: space-between;
}

/* Color */
.utils.text-white {
  color: #fff;
}

/* margin */
.mr-50 {
  margin-right: 3.125rem; /* 50px */
}
.mr-53 {
  margin-right: 2.188rem; /* 53px */
}
.mr-3 {
  margin-right: 1rem;
}
.mx-1 {
  margin-left: 1rem; /* 16px */
  margin-right: 1rem; /* 16px */
}

/* Text */
.utils.text-1 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #0d0e43;
}
.utils.text-logo {
  font-family: "Josefin Sans";
  font-weight: 700;
  font-size: 34px;
  line-height: 40px;
  color: #0d0e43;
}

/* Background */
.bg-red {
  background: red;
}
